/* توسيط الفورم */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* الفورم */
.login-form {
  background-color: #0d3b66; /* كحلي */
  color: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-form label {
  font-weight: bold;
  display: inline-block;
}


.login-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
   display: flex;
  justify-content: flex-end;
}

.buttons button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn {
  background-color: #28a745;
  color: white;
  
}