<div class="login-container">
  <form class="login-form">
    <h2>Change Password</h2>

    <label for="CurrentPassword">Current Password :</label>
<div class="password-field">
  <input
    id="CurrentPassword"
    [type]="showPassword[0] ? 'text' : 'password'"
    #CurrentPassword
  />
  <button type="button" (click)="togglePassword(0)">👁️‍🗨️</button>
</div>

<label for="NewPassword">New Password :</label>
<div class="password-field">
  <input
    id="NewPassword"
    [type]="showPassword[1] ? 'text' : 'password'"
    #NewPassword
  />
  <button type="button" (click)="togglePassword(1)">👁️‍🗨️</button>
</div>

<label for="ConfirmPassword">Confirm Password :</label>
<div class="password-field">
  <input
    id="ConfirmPassword"
    [type]="showPassword[2] ? 'text' : 'password'"
    #ConfirmPassword
  />
  <button type="button" (click)="togglePassword(2)">👁️‍🗨️</button>
</div>
    
    @if (errorMessage()) {<p class="error-message">{{ errorMessage() }}</p>}

    <div class="buttons">
      <button
        class="login-btn"
        type="button"
        (click)="changePassword(CurrentPassword.value, NewPassword.value, ConfirmPassword.value)"
      >
        Change
      </button>
    </div>
  </form>
</div>
@if (showSuccessDialog()) {
  <div class="dialog-overlay">
    <div class="dialog-box">
      <p>Password Changed Successfully, Click "OK" to continue</p>
      <button (click)="onDialogOk()">OK</button>
    </div>
  </div>
}